<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ওসমানপুর প্রাগপুর মাধ্যমিক বিদ্যালয়</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/lumen.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/alertify.min.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" asp-area="Admin" asp-controller="AdminPanel" asp-action="Index">হোম</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">আপলোড</a>
                  <div class="dropdown-menu" style="background: #08678c;">
                    <a class="dropdown-item" asp-area="Admin" asp-controller="AdminPanel" asp-action="Notice">নোটিশ আপলোড করুন</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="AdminPanel" asp-action="Banner">ব্যানার আপলোড করুন</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ক্যাম্পাস</a>
                  <div class="dropdown-menu" style="background: #08678c;">
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Campus" asp-action="AboutOurs">আমাদের সম্পর্কে</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Campus" asp-action="History">ইতিহাস</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Campus" asp-action="Aims">লক্ষ্য ও উদ্দেশ্য</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Campus" asp-action="InstitutionalStructure">প্রাতিষ্ঠানিক কাঠামো</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">প্রশাসন</a>
                  <div class="dropdown-menu" style="background: #08678c;">
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Administration" asp-action="HeadMaster">প্রধান শিক্ষক</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Administration" asp-action="Chairman">সভাপতি</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Administration" asp-action="GoverningBody">গভর্নিং বডি</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Administration" asp-action="TeacherList">শিক্ষকদের তালিকা</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Administration" asp-action="OfficialsList">কর্মকর্তাদের তালিকা</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Administration" asp-action="EmployeeList">কর্মচারীদের তালিকা</a>
                  </div>
                </li>
              </ul>
              <partial name="_LoginPartial" />
            </div>
          </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/alertify.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
