@model List<NoticeVM>;
<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <b>সকল নোটিশ</b>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead style="text-align:center">
                            <tr>
                                <th scope="col">শিরোনাম</th>
                                <th scope="col">প্রকাশের তারিখ</th>
                                <th scope="col">ডাউনলোড</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.CreatedDate</td>
                                    <td><a asp-area="DashBoard" asp-controller="Notice" asp-action="NoticeView" asp-route-id="@item.Id" target="_blank"><img src="/img/icon/pdf.png" width="40" height="40" /></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>